<%- include ('header.html') %>
    <div class="page-splash">
            <h3>
                <%= title %>
            </h3>
            <form action="" method="post">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet"></div>
                    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp mdl-typography--text-center">
                        <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
                            <h3 class="mdl-card__title-text mdl-typography--text-center">Login with Username &amp; Password</h3>
                        </div>
                        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input mdl-cell--middle" type="text" id="username" name="username">
                                <label class="mdl-textfield__label" for="username">Username</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input mdl-cell--middle" type="password" id="password" name="password">
                                <label class="mdl-textfield__label" for="password">Password</label>
                            </div>
                            <br />

                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" style="margin:0 auto;"
                                id="signin" name="signin">Login!</button> &nbsp;&nbsp;&nbsp;
                            <a href="/visitor">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"
                                    type="button" id="visitor" name="visitor">Visitor</button>
                            </a>
                            <hr style="height:5px;border:none;border-top:5px groove skyblue;" />
                            <div class="fuzq_input_wrap">
                                Forget Password?
                                <a href="/reset">Reset</a>
                            </div>
                            <div class="fuzq_input_wrap">
                                New Player?
                                <a href="/register">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>

    <%- include ('footer.html') %>
    <%- include ('toast.html') %>
    