<%- include ('header2.html') %>
    <!-- Content W  rapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Playground
                <small>Here you can find all joinable rounds, or create your own one.</small>
                <!--<a href="http://162.105.89.66:3000/visitor">Single Player Game</a>-->
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-dashboard"></i> CJP </a>
                </li>
                <li class="active">Playground</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <script>
                var username = "<%=username%>";
                var admin = "<%=admin%>";
            </script>

            <div class="row col-lg-4" id="round_list"></div>
            <div class="row">
                <% if(admin==true){%>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-user">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-aqua-active">
                                <h3 class="widget-user-username">New Round</h3>
                                <h5 class="widget-user-desc">Create One!</h5>
                            </div>
                            <div class="widget-user-image" id="newround_button">
                                <span class="button-wrap">
                                    <button class="button button-3d button-action button-circle button-jumbo" data-toggle="modal" data-target="#newroundModal">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                                <!-- <img class="img-circle" src="/images/new.png" style="background-color: white" alt="User Avatar"> -->
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">1/2</h5>
                                            <span class="description-text">Level</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">1-50</h5>
                                            <span class="description-text">Players</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4">
                                        <div class="description-block">
                                            <h5 class="description-header">Jagged</h5>
                                            <span class="description-text">Shape</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                    </div>
                    <%}
      else{%>
                        <div class="col-md-4 col-sm-6 col-xs-12 random-game-card">
                            <!-- Widget: user widget style 1 -->
                            <div class="box box-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-aqua-active">
                                    <h3 class="widget-user-username">Random Game</h3>
                                    <h5 class="widget-user-desc">Just Try!</h5>
                                </div>
                                <div class="widget-user-image randomround_button">
                                    <span class="button-wrap">
                                        <button class="button button-3d button-action button-circle button-jumbo" data-toggle="modal" data-target="#newroundModal">
                                            <i class="fa fa-random"></i>
                                        </button>
                                    </span>
                                    <!-- <img class="img-circle" src="/images/random.png" style="background-color: white" alt="User Avatar"> -->
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">1/2</h5>
                                                <span class="description-text">Level</span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">1</h5>
                                                <span class="description-text">Players</span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4">
                                            <div class="description-block">
                                                <h5 class="description-header">S/J</h5>
                                                <span class="description-text">Shape</span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                        <%} %>
            </div>
            <%- include ('newround1.html') %>
            <%- include ('roundcard.html') %>
                <%- include ('rounddetail1.html') %>
                    <% if(admin==true){%>
                        <%- include ('roundimageselector.html') %>
                    <% } %>
                            <%- include ('roundimageshower.html') %>
    <!-- /.content-wrapper -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-slider.min.js"></script>

    <script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/playground.js"></script>
    </section>
<!-- /.content -->
</div>
    <% if(admin!=true){%>
        <%- include ('roundimageselector.html') %>
    <% } %>
    <%- include ('toast.html') %>
        <%- include ('footer2.html') %>