<!-- Player Ranks Page -->
<%- include ('header2.html') %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Global Rank
                <small>Here you can see the rank of all users.</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-dashboard"></i> CJP </a>
                </li>
                <li class="active">Global Rank</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <script src="/javascripts/jquery.min.js"></script>
            <script src="/javascripts/bootstrap-table.min.js"></script>
            <table id="global_rank_table" data-toggle="table" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true">
                <thead>
                    <tr>
                        <th data-field="rank" data-halign="center" data-align="center" data-sortable="true">Rank</th>
                        <th data-field="avatar" data-halign="center" data-align="center">Avatar</th>
                        <th data-field="username" data-halign="center" data-align="center">Username</th>
                        <th data-field="total_steps" data-halign="center" data-align="center" data-sortable="true">Total Steps</th>
                        <th data-field="total_contribution" data-halign="center" data-align="center" data-sortable="true">Total Credits</th>
                    </tr>
                </thead>
                <tbody>
                    <% locals.r = 0; %>
                        <% Allusers.forEach(function(u){ %>
                            <tr>
                                <% locals.r++  %>
                                    <td>
                                        <% if(u.username===user.username){%>
                                            <span style="color:#3c3;">
                                                <%= locals.r  %>
                                            </span>
                                            <%}
                                                    else{%>
                                                <span>
                                                    <%= locals.r %>
                                                </span>
                                                <%} %>
                                    </td>
                                    <td>
                                        <img class="mdl-list__item-avatar" src="images/placeholder.jpg">
                                    </td>
                                    <td>
                                        <% if(u.username===user.username){%>
                                            <span style="color:#3c3;">
                                                <%- u.username %>
                                            </span>
                                            <%}
                                                                else{%>
                                                <span>
                                                    <%- u.username %>
                                                </span>
                                                <%} %>
                                    </td>
                                    <td>
                                        <% if(u.username===user.username){%>
                                            <span style="color:#3c3;">
                                                <%- u.total_steps %>
                                            </span>
                                            <%}
                                                                else{%>
                                                <span>
                                                    <%- u.total_steps %>
                                                </span>
                                                <%} %>
                                    </td>
                                    <td>
                                        <% if(u.username===user.username){%>
                                            <span style="color:#3c3;">
                                                <%- u.credits %>
                                            </span>
                                            <%}
                                                                else{%>
                                                <span>
                                                    <%- u.credits %>
                                                </span>
                                                <%} %>
                                    </td>
                            </tr>
                            <% }) %>

                </tbody>
            </table>

            <br/>
            <br/>
            <button class="mdl-button mdl-js-button mdl-typography--button-center mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
                style="align-self:center;" id="invite" name="invite">Invite</button>
        </section>
        <!-- /.content -->
    </div>
    <%- include ('toast.html') %>
    <%- include ('footer2.html') %>