<%- include ('header.html') %>
    <div class="page-splash">
            <h3>
                <%= title %>
            </h3>
            <!-- <h2 class="mdl-color-text--white mdl-typography--text-center">Crowd Jigsaw Puzzle</h2> -->
            <form action="" method="post">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--3-col"></div>
                    <div class="mdl-card mdl-shadow--8dp mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-typography--text-center">
                        <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
                            <h3 class="mdl-card__title-text">Reset Password</h3>
                        </div>
                        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                            <p>Please input your username</p>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input mdl-cell--middle" type="text" id="username" name="username">
                                <label class="mdl-textfield__label" for="username">Username</label>
                            </div>

                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin:0 auto;" id="resetps" name="resetps">Reset!</button>

                        </div>
                    </div>
                </div>
            </form>
    </div>
    
    <%- include ('footer.html') %>
    <%- include (toast.html') %>